<launch>

    <arg name="web" default="true"/>
    <arg name="gui" default="true"/>

    <!-- <include file="$(find armar_description)/launch/armar6_upload.launch"/> -->

    <param name="robot_description" command="xacro '$(find armar6_description)/urdf/armar6.urdf'" />

    <node pkg="giskardpy" type="armar_standalone.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [odom, armar6/Roboception]
            - [map, armar6/Platform]
            - [map, armar6/Hand R Palm]
            - [map, armar6/Hand L Palm]
        </rosparam>
    </node>

    <!-- launch rvizweb on binder -->
    <group if="$(arg web)">
        <include file="$(dirname)/rvizweb_config.launch">
            <arg name="client_config" value="$(dirname)/rvizweb_config/armar.json" />
            <arg name="target_frame" default="/armar6/base_link"/>
        </include>
    </group>

    <!-- launch rivz locally -->
    <group if="$(arg gui)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" />
    </group>

</launch>