<launch>

    <arg name="web" default="true"/>
    <arg name="gui" default="false"/>

    <!-- <include file="$(find hsr_description)/launch/upload_hsrb.launch"/> -->
    <param name="robot_description" command="$(find xacro)/xacro $(find hsr_description)/robots/hsrb4s.urdf" />

    <node pkg="giskardpy" type="hsr_standalone.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [odom, hsrb/base_footprint]
            - [odom, hsrb/head_rgbd_sensor_link]
            - [odom, hsrb/hand_palm_link]
        </rosparam>
    </node>

    <!-- launch rvizweb on binder -->
    <group if="$(arg web)">
        <include file="$(dirname)/rvizweb_config.launch">
            <arg name="client_config" value="$(dirname)/rvizweb_config/hsr.json" />
            <arg name="target_frame" default="/hsrb/base_link"/>
        </include>
    </group>

    <!-- launch rivz locally -->
    <group if="$(arg gui)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" />
    </group>

</launch>