<launch>
    <arg name="web" default="true"/>
    <arg name="gui" default="false"/>

    <include file="$(find iai_tiago_description)/launch/upload.launch"/>

    <node pkg="giskardpy" type="tiago_standalone.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [tiago_dual/base_footprint, tiago_dual/gripper_left_grasping_frame]
            - [tiago_dual/base_footprint, tiago_dual/gripper_right_grasping_frame]
            - [tiago_dual/base_footprint, tiago_dual/xtion_link]
        </rosparam>
    </node>

    <node pkg="giskardpy" type="move_base_simple_goal_diff_drive.py" name="my_move_base" output="screen" />

    <!-- launch rvizweb on binder -->
    <group if="$(arg web)">
        <include file="$(dirname)/rvizweb_config.launch">
            <arg name="client_config" value="$(dirname)/rvizweb_config/tiago.json" />
            <arg name="target_frame" default="/tiago_dual/base_link"/>
        </include>
    </group>

    <!-- launch rivz locally -->
    <group if="$(arg gui)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" />
    </group>

</launch>